/* my-component.component.css */
/* .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .centered-content {
    background-color: rgb(241, 241, 241);
    height: 100px;
    width: 100px;
  } */
  